/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    height: 100vh;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------БАЗОВІ-ВЛАСТИВОСТІ----*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: modal;
    animation-duration: 0.6s;
}

@keyframes modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 70%;

}

.modal__content-img {
    width: 100%;
    height: 80%;
}

/* @keyframes modal {
    0%{
        left: -100%;
    }
    50%{
        
    }
    100%{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
} */
.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;

    color: #01353E;
}

.text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.6px;
    color: #242121;
}

.scroll--block {
    overflow: hidden;
}

/*---------HEADER-----*/

.header__container {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header__logo {
    position: relative;
    z-index: 2;
    width: 170px;
    margin-right: 15px;
}
.header__burger._active .header__logo-link {
    color: black;
}

.header__logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.header__logo-link::after {
    content: 'w';
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    position: absolute;
    top: -14px;
    left: 86px;
    color: #fff;
}


.header__menu-items {
    display: flex;
}

.header__menu-link {
    margin-right: 45px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #fff;
    position: relative;
}

.menu__link-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #00B2A0;
}


.poster__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__poster {
    display: flex;
    justify-content: center;
    background-image: url('../img/schoolImg.png');
    top: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 1080px;
}

.poster__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;

    color: #0D302C;
}

.poster__text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;

    color: #000000;
}

.header__poster::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__scroll {
    margin-top: 840px;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
}
.header__burger{
    display: none;
}
/*-------MAIN------*/
.about__container {
    padding: 282px 15px 200px;

}

.about {
    text-align: center;
}

.about__title {
    margin-bottom: 95px;
}

.title--slash {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
}

.title--slash::after {
    content: '/';
    position: absolute;
    color: #00B2A0;
    bottom: -15px;
}

.about__content-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    gap: 30px;
}

.about__content-item {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.about__content-text {
    max-width: 480px;
}


.services {
    text-align: center;
    background-color: #F8F8F8;
}

.services__container {
    padding: 200px 15px;
}

.services__title {
    margin-bottom: 100px;
}

.services__items {
    display: flex;
    gap: 75px;
}

.services__item {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.services__item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.services__item-img {
    margin-right: 7px;
}

.services__feedback {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px
}

.services__feedback-statistic__items {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start
}

.services__statistic-item {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75%;
    letter-spacing: 0.6px;

    color: #242121;
}

.services__statistic-item {
    text-align: left;
}

.services__statistic-item__top {
    display: flex;
    gap: 10px
}

.services__feedback-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}


.teachers {
    position: relative;
}
.teachers__img{
    height: 850px;
    width: 960px;
}
.teachers__title{
    text-align: center;
}
.teachers__container {
    padding-bottom: 200px;
    /* padding-top: 35px; */
    display: flex;
    
    justify-content: space-between;
}

.teachers__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 560px;
    margin: 200px 0 0 462px;
}

.teachers__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}




.gallery__container {
    padding-bottom: 300px;
}

.gallery__title {
    margin-bottom: 212px;
    position: relative;
    z-index: -1;
}

.gallery__nav {
    margin-bottom: 50px;
}

.gallery__list {
    display: flex;
    gap: 20px;
}

.gallery__item-link {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75%;
    letter-spacing: 0.6px;
    color: #242121;
}

.gallery__item-link--active {
    color: #00B2A0;
}

.gallery__items {
    display: grid;
    gap: 10px 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.gallery__img:hover {
    cursor: pointer;
}

.gallery__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img-big {
    grid-column: span 2;
}

.hide {
    display: none;
}

.gallery__vievs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.qoute {
    display: flex;
    padding: 80px 0;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.qoute__title {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.6px;
    color: #242121;
}

.qoute__author {
    margin-right: -165px;
    text-align: right;
}



.noname__container {
    padding: 200px 15px;
}

.noname__video {
    margin-bottom: 200px;
}

.noname__counter {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
}

.count__value {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.6px;

    color: #01353E;
}

.blog__title {
    text-align: center;
    margin-bottom: 230px;
}

.blog {
    padding: 0 0 200px;
}

.slider {
    width: 100%;
}

.slider__container {
    position: relative;
}

.slider__item img {
    width: 100%;
    height: 800px;
}

.slider__item {
    position: relative;
}

.slider__item::after {
    width: 100%;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(36, 33, 33, 0.5);
}

.slider__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.slider__btn {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 75px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    margin-right: 15px;
}

.btn--active {
    background: #00B2A0;
}

.slider__content__title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: 0.6px;
    color: black;
    max-width: 600px;
    color: #fff;
}

.slider__content {
    position: absolute;
    position: absolute;
    top: 35%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.slider__content-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}


.team__container {
    padding: 0 15px 205px;
}

.team__title {
    margin-bottom: 210px;
}

.team__teachers {
    display: flex;
    justify-content: space-between;
}
.teachers__container {
    display: flex;
}
.teachers__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 560px;
    margin: 0 0 0 15%;
    padding: 72px 15px;
    /* margin: 0 */
}

.team__teacher {
    display: flex;
    flex-direction: column;
}

.teacher__img {
    margin-bottom: 25px;
}

.teacher__name {
    margin-bottom: 5px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: #242121;

}

.teacher__post {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.6px;

    color: #242121;
}


.prices {
    background: #F8F8F8;
}

.prices__container {
    padding: 200px 15px;
}

.prices__title {
    margin-bottom: 210px;
}

.prices__packages {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.packages__item {
    max-width: 360px;
    padding: 42px;
    padding-bottom: 125px;
    background: #FFFFFF;
    position: relative;
}

.packages__item-title {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #01353E;
}

.packages__item-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.packages__item-poin {
    text-align: left;
    max-width: 275px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.6px;
    color: #242121;
}
.packages-price {
    margin-top: 60px;
    margin-top: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
}
.price-value {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #01353E;
}
.price-symbol {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #01353E;
}

.feedback {
    background-color: #fff;
}
.feedback__container {
    padding: 200px 15px;
}

.feedback__title {
    margin: 200px 243px;
}

.form {
    flex: 1 1 auto;
}
.feedback__form-container{
    gap: 30px;
    display: flex;
    flex-direction: column;

}
.feedback__input{
    max-width: 570px;
    padding-bottom: 18px;
    border: none;
    border-bottom:2px solid #DADADA;
    transition: .3s;
    font-size: 20px;
}
.feedback__input:focus{
    border-bottom:2px solid #484848;
}
.feedback__form-message{
    text-align: left;
    font-family: 'Roboto Condensed';
    max-width: 260px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: #00B2A0;
}
.form__button {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75%;
    text-align: center;
    letter-spacing: 0.6px;
    cursor: pointer;
    color: #242121;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding: 24px 111px;
}

.feedback__form-btn{
    cursor: pointer;
    margin-top: 73px;
    display: flex;
    justify-content: left;
    transition: .7s;
}
.form__button:hover{
    color: #fff;
    background-color: #00B2A0;;
}
.feedback__content{
    justify-content: space-between;
    display: flex;
}
.feedback__contacts {
    background: #F8F8F8;
    text-align: left;
    padding: 50px;
}
.feedback__contacts-items {
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.feedback__contacts-item {
    max-width: 327px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.6px;

    color: #242121;
}

.social__networks {
    margin-top: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.social__link {
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 75%;
letter-spacing: 0.6px;
color: #242121;
}
.social__link:hover{
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 75%;
letter-spacing: 0.6px;
color: #00B2A0;
}
/*------FOOTER------*/
.footer {
    position: relative;
    z-index: -1;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background-color: #00B2A0;
}

.footer__logo {
    position: relative;
    margin-right: 15px;
}
.footer__logo::after {
    content: 'w';
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    position: absolute;
    top: -14px;
    left: 17px;
    color: #fff;
}

.footer__logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

/*-----------ADAPTIV*/
/*pc*/
@media (max-width: 1695px) {
    .teachers__container{
        flex-direction: column;
        align-items: center;
    }
    .teachers__content {
        margin: 0;
        /* margin: 0 */
    }
  }
  /*tablet*/
  @media (max-width: 991.98px) {
    .header__container{
        justify-content: space-between;
    }
    .header__burger {
        display: block;
            position: relative;
            width: 2.5rem;
            height: 1.8rem;
            cursor: pointer;
            z-index: 5;
            color: inherit;
            background-color: inherit;
            border: none
    }
    .header__burger span, .header__burger::after, .header__burger::before {
        content: "";
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: .25rem;
        background-color: #fff;
    }
    .header__burger span {
        top: calc(50% - .125rem);
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .menu__body {
        left: -120%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left ease .3s;
        overflow: auto;
    }
    .menu__body._active {
        display: block;
        left: 0;
    }
    .header__menu-link {
        font-size: 35px;
        color: black;
        position: relative;
        margin: 0;
    }
    .header__menu-items {
        display: flex;
        flex-direction: column;
        gap: 54px;
        justify-content: center;
        align-items: center;
    }
    .header__burger._active::before {
        top: calc(50% - .125rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: black;
    }
    .header__burger._active::after {
        bottom: calc(50% - .125rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: black;
    }
    .header__burger._active span {
       display: none;
    }
    .title--slash{
        font-size: 60px;
    }
    .container{
      max-width: 750px;
    }
    .about__content-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 35px;
    }
    .about__content-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 30px;
    }
    .services__items {
        flex-direction: column;
        gap: 75px;
    }
    .services__feedback {
        margin-top: 100px;
        flex-direction: column;
        gap: 82px;
    }
    .noname__counter {
        padding: 0 200px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .team__teachers {
        gap: 50px;
        flex-direction: column;
    }
    .prices__packages {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .feedback__title {
        margin: 0;
    }
    .feedback__content {
        gap: 50px;
        flex-direction: column;
    }
    .qoute__author {
        /* margin-right: -165px; */
        margin-right: 0;
        text-align: right;
    }
    .slider__content {
        top: 15%;
        left: 15%;
    }
    .feedback__title {
        margin: 100px 0;
    }

    .teachers__img {
        height: 446px;
        width: 100%;
    }
    .header__scroll {
        margin-top: 749px;
        display: flex;
        position: relative;
        justify-content: center;
        z-index: 2;
    }
  }
  /*mobile*/
  @media (max-width: 767.98px) {
    .container{
      max-width: 100%;
      margin: 0 auto;
    }
    .poster__title {
        font-size: 90px;
        line-height: 147px;
    }
    .poster__text {
        text-align: center;
    }
    .header__poster {
        
        height: 700px;
    }
    .about__container {
        padding: 0px 15px 0px;
    }
    .about__content-item {
        align-items: flex-start;
    }
    .teachers__text {
        text-align: left;
    }
    .teachers__container {
        padding-bottom: 100px;
    }
    .qoute {
        display: flex;
        padding: 80px 15px;
        background-color: #F8F8F8;
        align-items: center;
        justify-content: center;
    }
    .slider__content {
        top: 6%;
        left: 14%;
    }
    .slider__item img {
        height: 615px;
    }
    .team__teachers {
        gap: 50px;
        flex-direction: column;
    }
    .slider__btn {
        margin-right: 9px;
    }
    .title--slash{
        font-size: 50px;
    }
    .header__scroll {
        margin-top: 405px;
        display: flex;
        position: relative;
        justify-content: center;
        z-index: 2;
    }
    .about__title{
             margin-top: 150px;
    };
    }

    /* .header__container {
        padding: 35px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: fixed;
        background: black;
        left: 0;
        right: 0;
        max-width: 100%;
    } */
