/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    height: 100vh;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------БАЗОВІ-ВЛАСТИВОСТІ----*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.modal{
    background-color: rgba(0,0,0,0); 
    position: fixed;
    left: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal--active{
    background-color: rgba(0,0,0,0.8); 
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.modal__content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 70%;

}
.modal__content-img{
    width: 100%;
    height: 80%;
}
.title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;

    color: #01353E;
}
.text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.6px;
    color: #242121;
}
.scroll--block {
    overflow: hidden;
}

/*---------HEADER-----*/

.header__container {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header__logo {
    position: relative;
    width: 170px;
    margin-right: 15px;
}

.header__logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.logo::after {
    content: 'w';
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    position: absolute;
    top: -14px;
    left: 17px;
    color: #fff;
}


.header__menu-items {
    display: flex;
}

.header__menu-link {
    margin-right: 45px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #fff;
    position: relative;
}

.menu__link-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #00B2A0;
}


.poster__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__poster {
    display: flex;
    justify-content: center;
    background-image: url('../img/schoolImg.png');
    top: 0;
    position: absolute;
    background-position: center;
    z-index: 0;
    width: 100%;
    height: 1080px;
}

.poster__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;

    color: #0D302C;
}

.poster__text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;

    color: #000000;
}

.header__poster::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__scroll {
    margin-top: 840px;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
}

/*-------MAIN------*/
.about__container {
    padding: 282px 15px 200px;

}
.about {
    text-align: center;
}
.about__title {
    margin-bottom: 95px;
}
.title--slash{
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
}
.title--slash::after{
    content: '/';
    position: absolute;
    color: #00B2A0;
    bottom: -15px;
}
.about__content-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    gap: 30px;
}
.about__content-item {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}
.about__content-text {
    max-width: 480px;
}


.services {
    text-align: center;
    background-color: #F8F8F8;
}
.services__container{
    padding: 200px 15px;
}
.services__title {
    margin-bottom: 100px;
}
.services__items {
    display: flex;
    gap: 75px;
}
.services__item {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.services__item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.services__item-img {
    margin-right: 7px;
}

.services__feedback {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px
}
.services__feedback-statistic__items {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start
}
.services__statistic-item {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75%;
    letter-spacing: 0.6px;

    color: #242121;
}
.services__statistic-item {
    text-align: left;
}
.services__statistic-item__top {
    display: flex;
    gap: 10px
}
.services__feedback-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}

.teachers{
    position: relative;
}
.teachers__container {
    padding-bottom: 200px;
    padding-top: 35px;
}
.teachers__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 560px;
}
.teachers__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.teachers__img {
    width: 700px;
    position: absolute;
    top: 0;
    right: 0;
}

.gallery__container{
    padding-bottom: 300px;
}
.gallery__title{
    margin-bottom: 212px;
    position: relative;
    z-index: -1;
}
.gallery__nav {
    margin-bottom: 50px;
}
.gallery__list {
    display: flex;
    gap: 20px;
}
.gallery__item-link {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 75%;
    letter-spacing: 0.6px;
    color: #242121;
}
.gallery__item-link--active{
    color: #00B2A0;
}
.gallery__items {
    display: grid;
    gap: 10px 51px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.gallery__img:hover{
    cursor: pointer;
}
.gallery__img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__img-big{
    grid-column: span 2;
}
.hide{
    position: absolute;
    left: -400%;
}
.gallery__vievs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*------FOOTER------*/
.footer {
    position: relative;
    z-index: -1;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background-color: #00B2A0;
}

.footer__logo {
    position: relative;
    margin-right: 15px;
}

.footer__logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}